{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
     <h2>Page Manager</h2>
     <span class="flex"></span>
       {{#if session.isAuthenticated}}
         <button {{action "signOut" "facebook"}}>SignOut</button>
       {{else}}
         <button {{action "signIn" "facebook"}}>Sign in with FaceBook</button>
       {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
